<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.departamento, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Borrar", user, method: :delete,
                                  data: { confirm: "¿Estás seguro?" } %>
  <% end %>
</li>
