<footer class="footer">
  <small>
    Agenda Tec<br>
    Alexandro Cebrián | Raúl Moras | Román Aguilar | Ricardo Huerta
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
    </ul>
  </nav>
</footer>
